<div style="margin-bottom: 10px;">
  <p style="width: 100%;font-size: 20pt; color: #fff;background: deepskyblue; margin-bottom: 10pt; padding-left: 10px">Sign Up</p>
  <label class="form-text" style="margin-left: 5%">New email:</label>
  <input class="form-control" type="email" [(ngModel)]="email" style="margin-left: 5%; width: 90%"/><br/>
  <label class="form-text" style="margin-left: 5%">New password:</label>
  <input class="form-control" type="password" [(ngModel)]="password" style="margin-left: 5%; width: 90%"/><br/>
  <button class="btn btn-primary" style=" margin-left: 5%; width: 90%;" type="button" (click)="signUp(email,password)">Sign Up</button>
</div>
